body{
    background-color: #333;
    color: #ddd;
    font-family: Consolas, monospace;
}

h1{
    font-size: 3em;
}

section{
    width:800px;
    margin: 0 auto;
    margin-top: 3em;
}